
	<% @tweet = Tweet.new %>

	<%= simple_form_for @tweet, remote: true, :html => { :class => 'form-vertical' } do |f| %>
	<div class="form">

		  <% if @user != current_user %>
		  	<%= f.input :content, input_html: { maxlength: 140, value: "@#{@user.handle}" } %>
		  <% else %>
		  	<%= f.input :content, input_html: { maxlength: 140 }, label: "What's Happening?"%>
		  <% end %>

    <div class="form-actions">
	    <%= f.button :submit, :class => 'btn-primary' %>
	  </div>
	 </div>
	<% end %>

