<h1 class = "news-feed-title">News Feed</h1>
<br>
<table>


  <!-- <div id="new-tweet"><%= link_to 'New Tweet', new_tweet_path %></div> -->

  <tbody>
        <%= render @tweets.reverse %>
  </tbody>
</table>

<br>
