<h1>All The Tweets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <div id="new-tweet"><%= link_to 'New Tweet', new_tweet_path %></div>

  <tbody>
        <%= render @tweets.reverse %>
  </tbody>
</table>

<br>
