<div class="notification-image"><%= Notification.image_url %></div>
<div class="notification-message"><%= Notification.message %></div>
<div class="notification-content"><%= Notification.content %></div>