<table class="trending">
	<caption>Trending Now</caption>
	<% trending_hashes = current_user.hash_count(4) %>
			<% trending_hashes.each do |trending_hash| %>
				<%= link_to trending_hash, hash_path(trending_hash)%><br> 
			<% end %>
			<%  trending_mentions = current_user.mention_count(4) %>
		<tbody>
			<% trending_mentions.each do |trending_mention| %>
				<% @user = User.where(handle: trending_mention[1,trending_mention.length]).first %>
				<tr><td><%= link_to trending_mention, @user %> </td></tr>
			<% end %>
		</tbody>
</table>
