<p id="notice"><%= notice %></p>

<h1>Mentions</h1>

<% if @mentions.size > 0 %>
	<% @mentions.flatten! %>
	<% @mentions.sort! { |x,y| y.created_at <=> x.created_at} %>
	<% @mentions.each do |tweet| %>
		<%= render tweet %>
	<% end %>
<% else %>
 	<h5><%= "You have no mentions. What kind of social networker are you? Get out there and get noticed!" %></h5>
<% end %>