<h1>WELCOME TO<br>FWITTER</h1>
<div>
	<%= link_to "Log In", log_in_path %> |
	<%= link_to "Register", users#new %>
</div>

Add stats here? Or is no logged-in user ever landing here? We'll want to put stats on whatever does become the homepage, though that will probably be the user's page