/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#logout {
	
	position: fixed;
	right:10px; top:25px;
	color: blue;
	border: 1px solid black;
	padding: 8px;
}

#login {
	margin-right:10px;
	position: fixed;
	color: blue;
	border: 1px solid black;
	padding: 8px;
}

#header {
 	color: #0F4D92;
 	font-size: 18px;
 	margin-top: 300px;
 	position: fixed;
 }

a:link {
	color:black;
	text-decoration:none;
}

a:visited {
	color:black;
	text-decoration:none;
}


a:hover {
	color:blue;
	text-decoration:none;
}

a:active {
	color:blue;
	text-decoration:none;
}