.tweet-thumbnail {
	float: left;
	margin-right: 5px;
	height: 60px;
	width: 60px;
	border-radius: 5px;
}

.tweet-author {
	color: red;
	font-size: 18px;
	font-family: Helvetica;
}

.tweet-content {
	color: black;
	font-size: 12px;
	font-family: Helvetica;
}



.news-feed-title{
	margin-left: 300px;
}

.tweet-body a {
color:black;
text-decoration:underline;
}

.tweet-body a:hover {
color:blue;
border-bottom:2px;
text-decoration:none;
}

hr {
	margin: 5px;
}

.tweet {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	-o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  /* ...and now for the proper property */
  transition:.1s;
  width: 600px;
  border-radius: 5px;
}

.tweet:hover {
	background: LightGray;

	.tweet-time-stamp {
		color: black;
	}
}

.tweet .tweet-footer {
	visibility: hidden;
}

.tweet:hover .tweet-footer {
	visibility: visible;
}

#new-tweet{
	// border: 2px solid black;
	padding: 8px;
	margin: 5px 0px 5px 0px;
}

.author-handle {
	color: gray;
	font-size: 12px;
}

.tweet-time-stamp {
	color: gray;
}

a:link {
	color: #0F4D92;
	text-decoration: underline;
}

a:visited {
	color: #0F4D92;
	text-decoration: underline;
}

a:hover {
	background: none;
	color: #0F4D92;
	font-weight: bold;
	text-decoration: underline;
}