
.tweet-author {
	color: black;
	font-size: 18px;
	font-family: Helvetica;
}

.tweet-content {
	color: black;
	font-size: 12px;
	font-family: Helvetica;
}


.tweet-body a:link {
color:black;
text-decoration:none;
}

.tweet-body a:visited {
color:black;
text-decoration:none;
}


.tweet-body a:hover {
color:blue;
border-bottom:2px;
text-decoration:none;
}



.tweet-list {
	margin-top: 20px;
}

#new-tweet{
	// border: 2px solid black;
	padding: 8px;
	margin: 5px 0px 5px 0px;
}

.author-handle {
	color: grey;
	font-size: 12px;
}

.tweet-time-stamp {
	color: grey;
}

.tweet-list {
	margin-left: 300px;
}